### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.metadata/
.Sunrise/
._*
*.tmp

### Java ###
*.class

### Eclipse ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

/.metadata/.lock
/.metadata/.log
!bin/
/bin/
